# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: spark-operator
spec:
  interval: 1h
  chart:
    spec:
      chart: spark-kubernetes-operator
      version: 1.5.0
      sourceRef:
        kind: HelmRepository
        name: apache-spark
        namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    workloadResources:
      namespaces:
        create: true
        overrideWatchedNamespaces: true
        data:
          - "spark-apps"
