---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: argo-workflows
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: argo-workflows
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # Argo Workflows
        postgresql-user: argo_workflows
        postgresql-password: "{{ .ARGO_WORKFLOWS_DATABASE_PASSWORD }}"
        # Postgres Init
        INIT_POSTGRES_HOST: postgres-rw.database.svc.cluster.local
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
        INIT_POSTGRES_USER: argo_workflows
        INIT_POSTGRES_PASS: "{{ .ARGO_WORKFLOWS_DATABASE_PASSWORD }}"
        INIT_POSTGRES_DBNAME: argoproj
  dataFrom:
    - extract:
        key: argoproj
    - extract:
        key: cloudnative-pg
