---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: argo-workflows
spec:
  interval: 1h
  chart:
    spec:
      chart: argo-workflows
      version: 0.45.27
      sourceRef:
        kind: HelmRepository
        name: argo
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    singleNamespace: false

    controller:
      image:
        registry: quay.io
        repository: argoproj/workflow-controller
        tag: v3.7.3@sha256:86544f45dfb5eec10a101dd46e4078edc527ca548ed754bcf520ab4a1c80ba31
      parallelism: 20
      resourceRateLimit:
        limit: 10
        burst: 1
      persistence:
        archive: true
        postgresql:
          host: postgres-rw.database.svc.cluster.local
          port: 5432
          database: argoproj
          tableName: argo_workflows
          # the database secrets must be in the same namespace of the controller
          userNameSecret:
            name: argo-workflows
            key: postgresql-user
          passwordSecret:
            name: argo-workflows
            key: postgresql-password
      extraInitContainers:
        - name: init-db
          image: ghcr.io/home-operations/postgres-init:17.6
          envFrom:
            - secretRef:
                name: argo-workflows

      namespaceParallelism: 10

      resources:
        requests:
          cpu: 10m
          memory: 100Mi
        limits:
          memory: 100Mi

    workflow:
      serviceAccount:
        create: true

    executor:
      image:
        registry: quay.io
        repository: argoproj/argoexec
        tag: v3.7.3@sha256:d299769f4681ba47fa5e4e00f1c4d31eee782659c43625ea1bdf1cff08ca34dd

    server:
      enabled: true
      image:
        registry: quay.io
        repository: argoproj/argocli
        tag: v3.7.4@sha256:2badfcd4136a1a6583904943c8e8883062c47380047c57b73845b5610cd3e96f
      resources:
        requests:
          cpu: 10m
          memory: 100Mi
        limits:
          memory: 100Mi

      extraArgs:
        - --auth-mode=server
