---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: argo-workflows
spec:
  interval: 1h
  chart:
    spec:
      chart: argo-workflows
      version: 0.47.3
      sourceRef:
        kind: HelmRepository
        name: argo
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    singleNamespace: false

    controller:
      image:
        registry: quay.io
        repository: argoproj/workflow-controller
        tag: v4.0.0@sha256:dd288d8e75e435cfa0326a8d2836a836bf77feee3bffe40f88c3847a69b1138a
      parallelism: 20
      resourceRateLimit:
        limit: 10
        burst: 1
      persistence:
        archive: true
        postgresql:
          host: postgres-rw.database.svc.cluster.local
          port: 5432
          database: argoproj
          tableName: argo_workflows
          # the database secrets must be in the same namespace of the controller
          userNameSecret:
            name: argo-workflows
            key: postgresql-user
          passwordSecret:
            name: argo-workflows
            key: postgresql-password
      extraInitContainers:
        - name: init-db
          image: ghcr.io/home-operations/postgres-init:18.1
          envFrom:
            - secretRef:
                name: argo-workflows

      namespaceParallelism: 10

      resources:
        requests:
          cpu: 10m
          memory: 100Mi
        limits:
          memory: 100Mi

    workflow:
      serviceAccount:
        create: true

    executor:
      image:
        registry: quay.io
        repository: argoproj/argoexec
        tag: v4.0.1@sha256:2a73e2a57daabde06bc838c1efe00bd9732c58baf37cd05a9201acd2935856b2

    server:
      enabled: true
      image:
        registry: quay.io
        repository: argoproj/argocli
        tag: v4.0.0@sha256:c115f41afb5ef500437aad79f3112a224bf243d8f7934eed3f6523f7125df664
      resources:
        requests:
          cpu: 10m
          memory: 100Mi
        limits:
          memory: 100Mi

      extraArgs:
        - --auth-mode=server
