---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ytdl-sub
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 30m
  values:
    controllers:
      ytdl-sub:
        type: cronjob

        pod:
          restartPolicy: Never
          securityContext:
            runAsUser: 3000
            runAsGroup: 3000
            runAsNonRoot: true
            fsGroup: 3000
            fsGroupChangePolicy: OnRootMismatch

        cronjob:
          schedule: "0 */6 * * *"
          backoffLimit: 0
          concurrencyPolicy: Forbid
          failedJobsHistory: 2
          successfulJobsHistory: 2

        containers:
          app:
            image:
              repository: ghcr.io/jmbannon/ytdl-sub
              tag: 2026.01.16
            command:
              - bash
              - -c
            args:
              - |
                ytdl-sub --log-level=debug --config=/config/config.yaml sub /media/youtube/subscriptions.yaml
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                gpu.intel.com/i915: 1
                memory: 2Gi

    persistence:
      config:
        name: ytdl-sub
        type: configMap
        advancedMounts:
          ytdl-sub:
            app:
              - path: /config/config.yaml
                subPath: config.yaml
                readOnly: true
      media:
        existingClaim: truenas-media
        advancedMounts:
          ytdl-sub:
            app:
              - path: /media/youtube
                subPath: youtube
      tmp:
        type: emptyDir
        advancedMounts:
          ytdl-sub:
            app:
              - path: /tmp
                subPath: tmp
              - path: /config
                subPath: config
              - path: /workdir
                subPath: workdir
