---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: dagster
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: dagster-postgresql-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # Dagster
        postgresql-password: "{{ .DAGSTER_DATABASE_PASSWORD }}"
        # Postgres Init
        INIT_POSTGRES_HOST: postgres-rw.database.svc.cluster.local
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
        INIT_POSTGRES_USER: dagster
        INIT_POSTGRES_PASS: "{{ .DAGSTER_DATABASE_PASSWORD }}"
        INIT_POSTGRES_DBNAME: dagster
  dataFrom:
    - extract:
        key: dagster
    - extract:
        key: cloudnative-pg
