---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: dev
components:
  - ../../components/common
resources:
  # Flux-Kustomizations
  - ./spark-operator/ks.yaml
  - ./flink-operator/ks.yaml
  - ./yunikorn/ks.yaml
  - ./temporal/ks.yaml
  - ./openfga/ks.yaml
  - ./lakekeeper/ks.yaml
  - ./strimzi-operator/ks.yaml
  - ./knative-operator/ks.yaml
  - ./dapr/ks.yaml
  - ./dagster/ks.yaml
  - ./argo-workflows/ks.yaml
